<h3>New Suggestion</h3>

<div class="add-suggestion">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input id="title" name="label" type="text" class="form-control" placeholder="Suggestion title">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" name="description" type="text" class="form-control"
            placeholder="Suggestion description"></textarea>
    </div>


    <!-- It doesnt make sense but i prepared it -->
    <!--
    <div class="mb-3">
        <label for="likes" class="form-label">Likes</label>
        <input id="likes" name="likes" type="number" min="0" class="form-control">
    </div>
    -->


    <input type="submit" class="btn btn-success" value=" + Add">
</div>